In [71]:
import numpy as np
import pandas as pd
import datetime
import math
from os import listdir
from os.path import isfile, join
import json

In [111]:
out='../output/'
inp='../input/monthly/'
pref='dam'

In [112]:
dat=pd.DataFrame(columns=[0,1,2])
onlyfiles = [f for f in listdir(inp) if isfile(join(inp, f))]
for f in onlyfiles:
    if (f.split('_')[0]==pref):
        #print(f)
        with open(join(inp, f), "r") as read_file:
            data = pd.DataFrame(json.load(read_file))
            dat=pd.concat([dat,data])

dat

,0,1,2
0,Date:Time,Price(USD/MWh),Turnover(MWh)
1,(2016/01/01) 00-01,40.1,477.5
2,(2016/01/01) 01-02,40.08,486.6
3,(2016/01/01) 02-03,40.06,495.6
4,(2016/01/01) 03-04,40.08,496.6
...,...,...,...
168,(2021/05/07) 23-24,43.96,66.8
169,Min,30.06,20
170,Max,299.13,198
171,Average,84.35863095238095238095238095,97.2702380952380952380952381
172,Total,14172.25,16341.4

In [113]:
dat.drop(dat[dat[0] == 'Date:Time'].index, inplace = True)
dat.drop(dat[dat[0] == 'Min'].index, inplace = True)
dat.drop(dat[dat[0] == 'Max'].index, inplace = True)
dat.drop(dat[dat[0] == 'Average'].index, inplace = True)
dat.drop(dat[dat[0] == 'Total'].index, inplace = True)
dat.columns=['datehour','price','volume']
dat['price']=dat['price'].astype(float)
dat['volume']=dat['volume'].astype(float)
dat

               datehour   price  volume
1    (2016/01/01) 00-01   40.10   477.5
2    (2016/01/01) 01-02   40.08   486.6
3    (2016/01/01) 02-03   40.06   495.6
4    (2016/01/01) 03-04   40.08   496.6
5    (2016/01/01) 04-05   40.07   502.9
..                  ...     ...     ...
164  (2021/05/07) 19-20  294.98    60.0
165  (2021/05/07) 20-21  124.05    60.0
166  (2021/05/07) 21-22   86.15    78.0
167  (2021/05/07) 22-23   46.18    72.2
168  (2021/05/07) 23-24   43.96    66.8

[46020 rows x 3 columns]

In [114]:
dat['date']=pd.to_datetime(dat.datehour.str.slice(1,11),format="%Y/%m/%d")
dat['hour']=dat.datehour.str.slice(13,15).astype(int)
dat

               datehour   price  volume       date  hour
1    (2016/01/01) 00-01   40.10   477.5 2016-01-01     0
2    (2016/01/01) 01-02   40.08   486.6 2016-01-01     1
3    (2016/01/01) 02-03   40.06   495.6 2016-01-01     2
4    (2016/01/01) 03-04   40.08   496.6 2016-01-01     3
5    (2016/01/01) 04-05   40.07   502.9 2016-01-01     4
..                  ...     ...     ...        ...   ...
164  (2021/05/07) 19-20  294.98    60.0 2021-05-07    19
165  (2021/05/07) 20-21  124.05    60.0 2021-05-07    20
166  (2021/05/07) 21-22   86.15    78.0 2021-05-07    21
167  (2021/05/07) 22-23   46.18    72.2 2021-05-07    22
168  (2021/05/07) 23-24   43.96    66.8 2021-05-07    23

[46020 rows x 5 columns]

In [115]:
dat=dat.drop(['datehour'],1)
dat

      price  volume       date  hour
1     40.10   477.5 2016-01-01     0
2     40.08   486.6 2016-01-01     1
3     40.06   495.6 2016-01-01     2
4     40.08   496.6 2016-01-01     3
5     40.07   502.9 2016-01-01     4
..      ...     ...        ...   ...
164  294.98    60.0 2021-05-07    19
165  124.05    60.0 2021-05-07    20
166   86.15    78.0 2021-05-07    21
167   46.18    72.2 2021-05-07    22
168   43.96    66.8 2021-05-07    23

[46020 rows x 4 columns]

In [117]:
hourly=dat.set_index(pd.DatetimeIndex(dat['date']))
hourly['year']=hourly.index.year
hourly['month']=hourly.index.month
hourly['day']=hourly.index.day
hourly['day_of_week']=hourly.index.dayofweek
hourly=hourly.drop(['date'],axis=1)
hourly

             price  volume  hour  year  month  day  day_of_week
date
2016-01-01   40.10   477.5     0  2016      1    1            4
2016-01-01   40.08   486.6     1  2016      1    1            4
2016-01-01   40.06   495.6     2  2016      1    1            4
2016-01-01   40.08   496.6     3  2016      1    1            4
2016-01-01   40.07   502.9     4  2016      1    1            4
...            ...     ...   ...   ...    ...  ...          ...
2021-05-07  294.98    60.0    19  2021      5    7            4
2021-05-07  124.05    60.0    20  2021      5    7            4
2021-05-07   86.15    78.0    21  2021      5    7            4
2021-05-07   46.18    72.2    22  2021      5    7            4
2021-05-07   43.96    66.8    23  2021      5    7            4

[46020 rows x 7 columns]

In [118]:
hourly['value']=hourly['price']*hourly['volume']
daily=hourly.groupby(['year','month','day']).sum().drop(['hour'],axis=1)
daily['price_weight_av']=daily['value']/daily['volume']
daily=daily.drop(['price'], axis=1)
daily['price_max']=hourly[['year','month','day','price']].groupby(['year','month','day']).max()
daily['price_min']=hourly[['year','month','day','price']].groupby(['year','month','day']).min()
daily['price_mean']=hourly[['year','month','day','price']].groupby(['year','month','day']).mean()

daily['power_max']=hourly[['year','month','day','volume']].groupby(['year','month','day']).max()
daily['power_min']=hourly[['year','month','day','volume']].groupby(['year','month','day']).min()
daily['power_mean']=hourly[['year','month','day','volume']].groupby(['year','month','day']).mean()

daily['price_morning_max']=hourly.loc[hourly['hour']<11][['year','month','day','price']].groupby(['year','month','day']).max()
daily['price_evening_max']=hourly.loc[hourly['hour']>=11][['year','month','day','price']].groupby(['year','month','day']).max()
daily['price_standard']=hourly.loc[(hourly['hour']>=12) & (hourly['hour']<=15)][['year','month','day','price']].groupby(['year','month','day']).mean()

daily

                volume  day_of_week       value  price_weight_av  price_max  \
year month day
2016 1     1    7873.8           96  336882.508        42.785251      60.08
           2    7319.5          120  345982.021        47.268532     118.49
           3    7198.7          144  351712.733        48.857812     118.47
           4    4457.0            0  225938.810        50.693024     177.66
           5    3750.4           24  179068.882        47.746609     181.40
...                ...          ...         ...              ...        ...
2021 5     3    2190.4            0  188834.258        86.209942     294.99
           4    2134.6           24  205280.903        96.168323     299.10
           5    2232.2           48  204048.318        91.411306     299.13
           6    2126.4           72  171355.957        80.585006     297.00
           7    2089.2           96  173710.696        83.146992     297.00

                price_min  price_mean  power_max  power_min  power_mean  \
year month day
2016 1     1        35.09   45.982500      502.9       53.0  328.075000
           2        40.03   54.114167      486.0       40.0  304.979167
           3        44.06   54.959167      486.0       40.0  299.945833
           4        46.70   80.164583      486.0        0.0  185.708333
           5        42.06   84.503333      436.0        0.0  156.266667
...                   ...         ...        ...        ...         ...
2021 5     3        39.03   98.484583      134.0       46.0   91.266667
           4        37.99  109.355417      128.1       45.0   88.941667
           5        37.99  107.167500      130.0       55.0   93.008333
           6        38.00   90.639167      130.1       41.0   88.600000
           7        37.97   92.945833      133.9       60.0   87.050000

                price_morning_max  price_evening_max  price_standard
year month day
2016 1     1                48.03              60.08         45.8275
           2                56.05             118.49         50.2275
           3                56.01             118.47         50.6050
           4                80.02             177.66         80.0200
           5               148.40             181.40         80.0500
...                           ...                ...             ...
2021 5     3               190.03             294.99         69.0050
           4               189.91             299.10         77.7775
           5               151.72             299.13         75.7000
           6               124.51             297.00         78.1400
           7               126.91             297.00         76.4725

[1954 rows x 13 columns]

In [81]:
hourly['cat']='off'
hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==6),'cat']='standard'
hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=7) & (hourly['hour']<=9),'cat']='morning'

hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']>=10) & (hourly['hour']<=16),'cat']='standard'

hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==17) & (hourly['month']>=6) & (hourly['month']<=8),'cat']='evening'
hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==17) & ((hourly['month']<=5) | (hourly['month']>=9)),'cat']='standard'
hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==18) & (hourly['month']<=3),'cat']='standard'
hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==18) & (hourly['month']>=4),'cat']='evening'
hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==19),'cat']='evening'
hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==20) & (hourly['month']<=3),'cat']='evening'
hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==20) & (hourly['month']>=4),'cat']='standard'
hourly.loc[(hourly['day_of_week']<5) & (hourly['hour']==21),'cat']='standard'

hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']>=7) & (hourly['hour']<=11),'cat']='standard'
hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==17) & (hourly['month']>=6) & (hourly['month']<=8),'cat']='standard'
hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==18) & (hourly['month']>=4),'cat']='standard'
hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==19),'cat']='standard'
hourly.loc[(hourly['day_of_week']==5) & (hourly['hour']==20) & (hourly['month']<=3),'cat']='standard'
hourly

,price,volume,hour,year,month,day,day_of_week,value,cat
date,,,,,,,,,
2016-01-01,40.10,477.5,0,2016,1,1,4,19147.750,off
2016-01-01,40.08,486.6,1,2016,1,1,4,19502.928,off
2016-01-01,40.06,495.6,2,2016,1,1,4,19853.736,off
2016-01-01,40.08,496.6,3,2016,1,1,4,19903.728,off
2016-01-01,40.07,502.9,4,2016,1,1,4,20151.203,off
...,...,...,...,...,...,...,...,...,...
2021-05-07,294.98,60.0,19,2021,5,7,4,17698.800,evening
2021-05-07,124.05,60.0,20,2021,5,7,4,7443.000,standard
2021-05-07,86.15,78.0,21,2021,5,7,4,6719.700,standard
2021-05-07,46.18,72.2,22,2021,5,7,4,3334.196,off
2021-05-07,43.96,66.8,23,2021,5,7,4,2936.528,off

In [79]:
daily['off_price_mean']=hourly.loc[hourly['cat']=='off'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).mean()
daily['standard_price_mean']=hourly.loc[hourly['cat']=='standard'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).mean()
daily['morning_price_mean']=hourly.loc[hourly['cat']=='morning'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).mean()
daily['evening_price_mean']=hourly.loc[hourly['cat']=='evening'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).mean()

daily['off_hour_count']=hourly.loc[hourly['cat']=='off'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).count()
daily['standard_hour_count']=hourly.loc[hourly['cat']=='standard'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).count()
daily['morning_hour_count']=hourly.loc[hourly['cat']=='morning'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).count()
daily['evening_hour_count']=hourly.loc[hourly['cat']=='evening'].reset_index()[['year','month','day','price']].groupby(['year','month','day']).count()

daily['off_volume']=hourly.loc[hourly['cat']=='off'].reset_index()[['year','month','day','volume']].groupby(['year','month','day']).sum()
daily['standard_volume']=hourly.loc[hourly['cat']=='standard'].reset_index()[['year','month','day','volume']].groupby(['year','month','day']).sum()
daily['morning_volume']=hourly.loc[hourly['cat']=='morning'].reset_index()[['year','month','day','volume']].groupby(['year','month','day']).sum()
daily['evening_volume']=hourly.loc[hourly['cat']=='evening'].reset_index()[['year','month','day','volume']].groupby(['year','month','day']).sum()

daily['off_value']=hourly.loc[hourly['cat']=='off'].reset_index()[['year','month','day','value']].groupby(['year','month','day']).sum()
daily['standard_value']=hourly.loc[hourly['cat']=='standard'].reset_index()[['year','month','day','value']].groupby(['year','month','day']).sum()
daily['morning_value']=hourly.loc[hourly['cat']=='morning'].reset_index()[['year','month','day','value']].groupby(['year','month','day']).sum()
daily['evening_value']=hourly.loc[hourly['cat']=='evening'].reset_index()[['year','month','day','value']].groupby(['year','month','day']).sum()

daily

                volume  day_of_week       value  price_weight_av  price_max  \
year month day
2016 1     1    7873.8           96  336882.508        42.785251      60.08
           2    7319.5          120  345982.021        47.268532     118.49
           3    7198.7          144  351712.733        48.857812     118.47
           4    4457.0            0  225938.810        50.693024     177.66
           5    3750.4           24  179068.882        47.746609     181.40
...                ...          ...         ...              ...        ...
2021 5     3    2190.4            0  188834.258        86.209942     294.99
           4    2134.6           24  205280.903        96.168323     299.10
           5    2232.2           48  204048.318        91.411306     299.13
           6    2126.4           72  171355.957        80.585006     297.00
           7    2089.2           96  173710.696        83.146992     297.00

                price_min  price_mean  power_max  power_min  power_mean  ...  \
year month day                                                           ...
2016 1     1        35.09   45.982500      502.9       53.0  328.075000  ...
           2        40.03   54.114167      486.0       40.0  304.979167  ...
           3        44.06   54.959167      486.0       40.0  299.945833  ...
           4        46.70   80.164583      486.0        0.0  185.708333  ...
           5        42.06   84.503333      436.0        0.0  156.266667  ...
...                   ...         ...        ...        ...         ...  ...
2021 5     3        39.03   98.484583      134.0       46.0   91.266667  ...
           4        37.99  109.355417      128.1       45.0   88.941667  ...
           5        37.99  107.167500      130.0       55.0   93.008333  ...
           6        38.00   90.639167      130.1       41.0   88.600000  ...
           7        37.97   92.945833      133.9       60.0   87.050000  ...

                morning_hour_count  evening_hour_count  off_volume  \
year month day
2016 1     1                   3.0                 2.0      3851.5
           2                   NaN                 NaN      5969.5
           3                   NaN                 NaN      7198.7
           4                   3.0                 2.0      3828.0
           5                   3.0                 2.0      3230.0
...                            ...                 ...         ...
2021 5     3                   3.0                 2.0       867.4
           4                   3.0                 2.0       805.0
           5                   3.0                 2.0       907.0
           6                   3.0                 2.0       823.8
           7                   3.0                 2.0       797.6

                standard_volume  morning_volume  evening_volume   off_value  \
year month day
2016 1     1             2920.3           993.0           109.0  152306.418
           2             1350.0             NaN             NaN  271567.021
           3                NaN             NaN             NaN  351712.733
           4              464.0           109.0            56.0  179880.680
           5              368.4           109.0            43.0  136366.420
...                         ...             ...             ...         ...
2021 5     3              957.0           246.0           120.0   36014.048
           4              971.6           243.0           115.0   32956.727
           5              976.2           234.0           115.0   38043.880
           6              951.6           231.0           120.0   33784.947
           7              940.6           231.0           120.0   32417.328

                standard_value  morning_value  evening_value
year month day
2016 1     1        131289.730       46741.00        6545.36
           2         74415.000            NaN            NaN
           3               NaN            NaN            NaN
           4         32852.590        8722.18        4483.36
           5         27912.322        8724.13        6066.01
...                        ...            ...            ...
2021 5     3         77152.630       40269.38       35398.20
           4        100699.196       37355.58       34269.40
           5        100378.798       31479.24       34146.40
           6         73332.750       28719.46       35518.80
           7         76903.418       28871.15       35518.80

[1954 rows x 29 columns]

In [82]:
daily.to_csv(out + pref + '_daily.csv')

In [83]:
hourly.to_csv(out + pref + '_hourly.csv')

In [95]:
monthly=daily.groupby(['year','month']).mean().reset_index(['month','year'])
monthly=monthly.drop(['morning_volume','off_volume','standard_volume','evening_volume','price_weight_av'],1)
monthly.rename(columns={'value':'value_mean','volume':'volume_mean','off_hour_count':'off_hour_mean','standard_hour_count':'standard_hour_mean','morning_hour_count':'morning_hour_mean','evening_hour_count':'evening_hour_mean'}, inplace=True)
monthly[['price_max','standard_price_max','off_price_max','morning_price_max','evening_price_max']]=daily.groupby(['year','month']).max().reset_index(['month','year'])[['price_mean','standard_price_mean','off_price_mean','morning_price_mean','evening_price_mean']]
monthly[['price_min','standard_price_min','off_price_min','morning_price_min','evening_price_min']]=daily.groupby(['year','month']).min().reset_index(['month','year'])[['price_mean','standard_price_mean','off_price_mean','morning_price_mean','evening_price_mean']]

monthly[['volume','morning_volume','evening_volume','standard_volume','off_volume']]=daily.groupby(['year','month']).sum().reset_index(['month','year'])[['volume','morning_volume','evening_volume','standard_volume','off_volume']]
monthly[['value','morning_value','evening_value','standard_value','off_value']]=daily.groupby(['year','month']).sum().reset_index(['month','year'])[['value','morning_value','evening_value','standard_value','off_value']]

monthly[['off_hour_count','standard_hour_count', 'morning_hour_count', 'evening_hour_count']]=daily.groupby(['year','month']).sum().reset_index(['month','year'])[['off_hour_count','standard_hour_count', 'morning_hour_count', 'evening_hour_count']]

monthly['price_weight_mean']=monthly['value'] / monthly['volume']
monthly['off_price_weight_mean']=monthly['off_value'] / monthly['off_volume']
monthly['standard_price_weight_mean']=monthly['standard_value'] / monthly['standard_volume']
monthly['morning_price_weight_mean']=monthly['morning_value'] / monthly['morning_volume']
monthly['evening_price_weight_mean']=monthly['evening_value'] / monthly['evening_volume']


monthly['off_power']=monthly['off_volume'] / monthly['off_hour_count']
monthly['morning_power']=monthly['morning_volume'] / monthly['morning_hour_count']
monthly['standard_power']=monthly['standard_volume'] / monthly['standard_hour_count']
monthly['evening_power']=monthly['evening_volume'] / monthly['evening_hour_count']

monthly

,year,month,volume_mean,day_of_week,value_mean,price_max,price_min,price_mean,power_max,power_min,...,evening_hour_count,price_weight_mean,off_price_weight_mean,standard_price_weight_mean,morning_price_weight_mean,evening_price_weight_mean,off_power,morning_power,standard_power,evening_power
0,2016,1,3730.835484,74.193548,209336.528032,106.684000,45.982500,82.658016,362.651613,17.606452,...,42.0,56.109826,50.451666,81.002858,77.850006,137.720998,271.515966,33.409524,56.583459,37.350000
1,2016,2,3833.755172,69.517241,259166.793793,123.798500,75.023333,92.116991,367.334483,23.231034,...,42.0,67.601290,56.682013,106.547628,129.026815,156.801247,274.644136,12.280952,75.799614,42.580952
2,2016,3,2860.351613,68.774194,185429.441484,108.651500,60.115833,89.210849,285.867742,18.232258,...,46.0,64.827499,55.359266,98.717668,116.099471,107.341031,211.008434,15.502899,56.748043,34.786957
3,2016,4,1884.236667,72.666667,117046.464700,114.641667,42.853500,85.865053,183.970000,7.236667,...,42.0,62.118770,57.227131,104.192200,104.410448,139.262082,150.685460,7.793651,19.055263,4.438095
4,2016,5,1587.229032,68.774194,89666.896387,105.676500,29.400000,79.341761,165.183871,4.661290,...,44.0,56.492727,49.866934,106.019186,95.368696,140.331232,124.639943,10.831818,18.262963,4.170455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,2021,1,2433.812903,74.193548,147947.936613,88.205417,44.004000,64.209417,184.783871,42.096774,...,42.0,60.788541,49.152106,65.490663,96.988945,117.813297,111.770028,84.269841,104.337218,59.133333
61,2021,2,2218.303571,72.000000,182683.332643,147.799500,43.510417,85.319625,141.325000,48.175000,...,40.0,82.352720,56.144457,96.540477,124.672487,160.354642,93.432187,97.925000,96.015726,63.170000
62,2021,3,2721.167742,66.967742,157505.391387,78.673750,27.023333,61.705527,189.854839,58.119355,...,46.0,57.881544,40.703170,61.365324,107.069933,131.375021,120.706627,87.672464,122.960142,80.008696
63,2021,4,2681.006667,71.466667,160844.813933,110.314000,30.873750,81.265322,185.530000,40.316667,...,44.0,59.994186,37.210187,66.760284,142.181426,252.474165,133.820732,74.968182,109.424815,46.463636
64,2021,5,2334.485714,72.000000,164032.292286,109.355417,34.457917,84.358631,146.957143,43.428571,...,10.0,70.264852,37.590417,87.501349,140.670726,296.358644,115.737037,79.000000,83.737097,59.000000

In [96]:
monthly['evening_days']=daily.loc[daily['evening_hour_count']>0].groupby(['year','month']).count().reset_index(['month','year'])['volume']
monthly['morning_days']=daily.loc[daily['morning_hour_count']>0].groupby(['year','month']).count().reset_index(['month','year'])['volume']
monthly['days']=daily.groupby(['year','month']).count().reset_index(['month','year'])['volume']

monthly

,year,month,volume_mean,day_of_week,value_mean,price_max,price_min,price_mean,power_max,power_min,...,standard_price_weight_mean,morning_price_weight_mean,evening_price_weight_mean,off_power,morning_power,standard_power,evening_power,evening_days,morning_days,days
0,2016,1,3730.835484,74.193548,209336.528032,106.684000,45.982500,82.658016,362.651613,17.606452,...,81.002858,77.850006,137.720998,271.515966,33.409524,56.583459,37.350000,21,21,31
1,2016,2,3833.755172,69.517241,259166.793793,123.798500,75.023333,92.116991,367.334483,23.231034,...,106.547628,129.026815,156.801247,274.644136,12.280952,75.799614,42.580952,21,21,29
2,2016,3,2860.351613,68.774194,185429.441484,108.651500,60.115833,89.210849,285.867742,18.232258,...,98.717668,116.099471,107.341031,211.008434,15.502899,56.748043,34.786957,23,23,31
3,2016,4,1884.236667,72.666667,117046.464700,114.641667,42.853500,85.865053,183.970000,7.236667,...,104.192200,104.410448,139.262082,150.685460,7.793651,19.055263,4.438095,21,21,30
4,2016,5,1587.229032,68.774194,89666.896387,105.676500,29.400000,79.341761,165.183871,4.661290,...,106.019186,95.368696,140.331232,124.639943,10.831818,18.262963,4.170455,22,22,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60,2021,1,2433.812903,74.193548,147947.936613,88.205417,44.004000,64.209417,184.783871,42.096774,...,65.490663,96.988945,117.813297,111.770028,84.269841,104.337218,59.133333,21,21,31
61,2021,2,2218.303571,72.000000,182683.332643,147.799500,43.510417,85.319625,141.325000,48.175000,...,96.540477,124.672487,160.354642,93.432187,97.925000,96.015726,63.170000,20,20,28
62,2021,3,2721.167742,66.967742,157505.391387,78.673750,27.023333,61.705527,189.854839,58.119355,...,61.365324,107.069933,131.375021,120.706627,87.672464,122.960142,80.008696,23,23,31
63,2021,4,2681.006667,71.466667,160844.813933,110.314000,30.873750,81.265322,185.530000,40.316667,...,66.760284,142.181426,252.474165,133.820732,74.968182,109.424815,46.463636,22,22,30
64,2021,5,2334.485714,72.000000,164032.292286,109.355417,34.457917,84.358631,146.957143,43.428571,...,87.501349,140.670726,296.358644,115.737037,79.000000,83.737097,59.000000,5,5,7

In [107]:
monthly.to_csv(out + pref + '_monthly.csv')

In [101]:
monthly_filt=monthly.loc[monthly['year']<2020]
daily_filt=daily.reset_index().loc[daily.reset_index()['year']<2020]

In [102]:
calmonthly=daily_filt.groupby(['month']).mean().reset_index()
calmonthly=calmonthly.drop(['year','day','volume','standard_volume','off_volume','morning_volume','evening_volume'],1)
calmonthly.rename(columns={'value':'value_mean','volume':'volume_mean','price_weight_av': 'price_weight_mean','off_hour_count':'off_hour_mean','standard_hour_count':'standard_hour_mean','morning_hour_count':'morning_hour_mean','evening_hour_count':'evening_hour_mean'}, inplace=True)

calmonthly[['volume', 'off_volume','standard_volume', 'morning_volume', 'evening_volume']]=monthly_filt.groupby(['month']).mean().reset_index()[['volume','off_volume','standard_volume', 'morning_volume', 'evening_volume']]
calmonthly[['value', 'off_value','standard_value', 'morning_value', 'evening_value']]=monthly_filt.groupby(['month']).mean().reset_index()[['value','off_value','standard_value', 'morning_value', 'evening_value']]

calmonthly

,month,day_of_week,value_mean,price_weight_mean,price_max,price_min,price_mean,power_max,power_min,power_mean,...,off_value,standard_value,morning_value,evening_value,volume,off_volume,standard_volume,morning_volume,evening_volume,value
0,1,69.677419,171708.797629,46.428061,97.634677,33.033226,57.870052,302.916129,46.225000,163.148958,...,2.997277e+06,1.756499e+06,3.278078e+05,2.413896e+05,118944.950,83055.575,27816.775,5167.975,2904.625,5.322973e+06
1,2,71.044248,179715.013876,49.539709,103.178584,32.046283,59.839731,290.106195,39.270796,152.969565,...,2.538460e+06,1.898264e+06,3.678901e+05,2.723345e+05,103055.500,68460.875,26354.975,5379.275,2860.375,5.076949e+06
2,3,71.483871,122262.658685,46.589330,98.810161,29.099919,54.436177,206.841935,41.371774,109.219718,...,1.677675e+06,1.472769e+06,3.913917e+05,2.483061e+05,79514.625,46710.650,23659.500,6207.825,2936.650,3.790142e+06
3,4,71.200000,147261.745450,48.028406,97.065000,27.743583,54.433363,211.321667,54.408333,127.187160,...,1.641584e+06,1.793427e+06,5.844292e+05,3.984127e+05,90100.275,48148.500,29595.050,8184.400,4172.325,4.417852e+06
4,5,68.774194,122195.447734,47.347378,111.561774,29.685323,58.562054,206.340323,36.551613,104.383132,...,1.740292e+06,1.350093e+06,4.391428e+05,2.585312e+05,75964.500,47642.300,20351.700,5538.400,2432.100,3.788059e+06
5,6,72.066667,214436.372017,60.163197,135.855750,37.038417,73.875942,292.892500,43.570000,146.107917,...,2.846265e+06,2.029336e+06,8.091018e+05,7.483890e+05,103565.400,67886.200,23696.300,6554.725,5428.175,6.433091e+06
6,7,70.354839,288169.733435,65.912679,145.048952,40.211935,79.217458,343.272581,56.512903,181.286505,...,3.698029e+06,2.976411e+06,1.215369e+06,1.043452e+06,131785.950,83143.600,32715.200,8958.050,6969.100,8.933262e+06
7,8,69.677419,317123.473339,63.730878,146.385161,37.360081,78.532442,403.963710,67.423387,212.539879,...,4.042447e+06,3.413310e+06,1.255548e+06,1.119523e+06,155088.300,96703.250,40083.425,9914.150,8387.475,9.830828e+06
8,9,72.100000,327115.199042,53.124066,119.131000,33.542167,64.360210,462.620833,107.956667,261.581882,...,4.399935e+06,3.696803e+06,1.060691e+06,6.560265e+05,185630.000,116928.650,51069.725,11650.225,5981.400,9.813456e+06
9,10,69.000000,350157.928452,49.904224,105.153306,31.913710,57.050604,494.068548,116.862097,304.774483,...,4.503785e+06,4.676012e+06,1.138204e+06,5.368942e+05,221897.925,134187.950,69330.775,13605.925,4773.275,1.085490e+07
10,11,70.866667,308396.851883,52.329949,124.852667,31.880583,61.824039,433.995000,94.288333,256.919153,...,3.860598e+06,3.965630e+06,8.519706e+05,5.737073e+05,182824.150,112661.875,56125.200,9528.275,4508.800,9.251906e+06
11,12,71.709677,233129.574032,51.410421,120.324839,32.007823,59.822616,342.290323,64.488710,196.843367,...,3.305332e+06,2.868784e+06,6.898125e+05,3.630884e+05,143710.950,91864.025,40290.125,8534.950,3021.850,7.227017e+06

In [108]:
calmonthly.to_csv(out + pref + '_calmonthly.csv')

In [105]:
calmonthly_hours=daily.groupby(['month','hour']).mean()
calmonthly_hours=calmonthly_hours.drop(['year','day','day_of_week'],1)
calmonthly_hours

                 price      volume         value
month hour
1     0      38.691235  235.663580   9005.474809
      1      37.941543  235.797531   8931.403883
      2      37.613951  234.874074   8857.088086
      3      37.538148  237.196296   8946.865963
      4      37.673172  238.518280   9002.655156
...                ...         ...           ...
12    19    130.661613   80.230968   8684.619781
      20     89.013548  105.837419   7205.543774
      21     73.281871  171.339355  10649.464465
      22     39.710839  254.710968   8996.688987
      23     37.374000  260.658710   9130.851213

[288 rows x 3 columns]

In [109]:
calmonthly_hours.to_csv(out + pref + '_calmonthly_hours.csv')